<%- include('partials/header.html')%>
        <section class="sessao1">
            <div class="noticia-destaque" style="background-image: url('<%= posts[0].imagem %>')">
                <div class="titulo-conteudo">
                    <div class="header-banner">
                        <div class="banner-autor">
                            <img src="https://media.licdn.com/dms/image/D4D03AQG0OxJw-TPEYg/profile-displayphoto-shrink_200_200/0/1665185261567?e=1687996800&v=beta&t=QMYXVB2r2KEQK4txIDwkExuVjAgrj_kJjRq2fDkdePI" alt="">
                            <span>POR <%=posts[0].author%></span>
                        </div>
                        <i  id="icon-heart" class=" fa-regular fa-heart"></i>
                    </div>
                    <div class="banner-content">
                        <a href="<%= postsTop[0].slug %>"><h2><%=posts[0].tituloCurto%>..</h2></a>
                        <p><%-posts[0].descricaoCurta%>...</p>
                    </div>
                    
                </div><!--titulo-conteudo--
            </div><!--noticia-destaque-->
            
        </section>
        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Ultimas notícias</h2>
                <div class="center">
                    <div class="ultimas">
                        <% for(let x = 1;x<posts.length;x++){%>
                            <div class="box-ultima-single">
                                <img src="<%= posts[x].imagem %>" alt="2 surfistas">
                                <h3><%= posts[x].categoria %></h3>
                                <h2><%= posts[x].titulo %></h2>
                                <p><%- posts[x].descricaoCurta%></p>
                                <a href="<%= posts[x].slug %>">Saiba mais</a>
                            </div>
                        <%}%>
                        
                    </div>
                    <div class="mais-lidas">
                        <h3>As Mais Lidas</h3>
                        <div class="mais-lidas-noticias">
                            <% for(let x = 0;x<postsTop.length;x++){%>
                            <div class="mais-lidas-noticias-single">
                                <img src="<%= postsTop[x].imagem%>" >
                                <div class="mais-lidas-noticias-single-content">
                                    <h3><%= postsTop[x].categoria%></h3>
                                    <p><%- postsTop[x].descricaoCurta%></p>
                                </div>
                            </div>
                            <%}%>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html')%>
        
    </body>
    <script src="../public/event/home.js"></script>
    <script src="https://kit.fontawesome.com/dc6a255beb.js" crossorigin="anonymous"></script>
    
</html>

