<%- include('partials/header.html')%>
        <section class="sessao1">
            <div class="banner noticia-destaque" style="background-image: url('<%= postsTop[0].imagem %>')">
                <div class="center">
                    <div class="titulo-conteudo">
                        <a href="<%= postsTop[0].slug %>"><h2><%=postsTop[0].titulo%></h2></a>
                        <p><%-postsTop[0].descricaoCurta%>...</p>
                    </div>
                </div>
            </div>
            
        </section>
        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Ultimas notícias</h2>
                <div class="center">
                    <div class="ultimas">
                        <% for(let x = 1;x<posts.length;x++){%>
                            <div class="box-ultima-single">
                                <img src="<%= posts[x].imagem %>" alt="2 surfistas">
                                <h3><%= posts[x].categoria %></h3>
                                <h2><%= posts[x].titulo %></h2>
                                <p><%- posts[x].descricaoCurta%></p>
                                <a href="<%= posts[x].slug %>">Saiba mais</a>
                            </div>
                        <%}%>
                        
                    </div>
                    <div class="mais-lidas">
                        <h3>As Mais Lidas</h3>
                        <div class="mais-lidas-noticias">
                            <% for(let x = 0;x<postsTop.length;x++){%>
                            <div class="mais-lidas-noticias-single">
                                <img src="<%= postsTop[x].imagem%>" >
                                <div class="mais-lidas-noticias-single-content">
                                    <h3><%= postsTop[x].categoria%></h3>
                                    <p><%- postsTop[x].descricaoCurta%></p>
                                </div>
                            </div>
                            <%}%>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html')%>
    </body>
</html>

