
    <%- include('partials/header.html')%>

    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2><%= noticia.titulo%></h2>
                <div class="autor-nome">
                    <span>Por <%= noticia.author%></span>
                </div>
                <img src="<%= noticia.imagem%>" alt="">
                <%- noticia.conteudo%>
            </div>
            
            <div class="mais-lidas">
                <h3>As Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <% for(let x = 0;x<postsTop.length;x++){%>
                    <div class="mais-lidas-noticias-single">
                        <img src="<%= postsTop[x].imagem%>" >
                        <div class="mais-lidas-noticias-single-content">
                            <h3><%= postsTop[x].categoria%></h3>
                            <p><%- postsTop[x].descricaoCurta%></p>
                        </div>
                    </div>
                    <%}%>
                    
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html')%>
</body>
</html>
